openapi: 3.0.0
info:
  title: FolkSoul API
  description: API documentation of FolkSoul API
  version: 0.1.9

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

servers:
  - url: https://folksoul-api.sabavar.redberryinternship.ge
    description: production server
  - url: http://localhost:5001/
    description: local server

# Authentication
paths:
  /auth:
    post:
      tags:
        - Authentication
      description: Generate JWT token to access forbidden content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
            example:
              username: 'username'
              password: 'password'
      responses:
        '201':
          description: JWT token generated successfully.
        '404':
          description: Credentials are incorrect.

  # Member
  /all-members:
    get:
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
          description: Fetch certain 3 users according to page parameter
      tags:
        - Member
      description: Fetch list of all band members
      responses:
        '200':
          description: Members list successfully fetched.

  /add-member:
    post:
      security:
        - bearerAuth: []
      tags:
        - Member
      description: Add one Member to band
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                instrument:
                  type: string
                orbitLength:
                  type: number
                color:
                  type: string
                biography:
                  type: string
            example:
              name: 'ვეფხია'
              instrument: 'დუდუკი'
              orbitLength: 100
              color: '#000000'
              biography: 'დაიბადა ...'
      responses:
        '201':
          description: Member saved successfully.
        '400':
          description: Member already exists.
        '404':
          description: Member save failed.
        '422':
          description: Unprocessed Entity

  /get-one-member:
    post:
      security:
        - bearerAuth: []
      tags:
        - Member
      description: Fetch details about one band member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '200':
          description: Member details successfully fetched.
        '404':
          description: Member not found.
        '422':
          description: Unprocessed Entity

  /upload-member-image:
    patch:
      security:
        - bearerAuth: []
      tags:
        - Member
      description: Upload avatar photo of certain band member
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                image:
                  type: string
                  format: binary
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '201':
          description: Member avatar photo uploaded successfully.
        '404':
          description: Member not found.
        '422':
          description: Unprocessed Entity

  /change-member:
    put:
      security:
        - bearerAuth: []
      tags:
        - Member
      description: Change details of certain band member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                instrument:
                  type: string
                orbitLength:
                  type: number
                color:
                  type: string
                biography:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
              name: 'ევგენი'
              instrument: 'სალამური'
              orbitLength: 100
              color: '#000000'
              biography: 'დაიბადა ...'
      responses:
        '201':
          description: Member details changed successfully.
        '404':
          description: Not found.
        '422':
          description: Unprocessed Entity

  /delete-member:
    delete:
      security:
        - bearerAuth: []
      tags:
        - Member
      description: Delete one member from the band
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '200':
          description: Member deleted successfully.
        '404':
          description: Member not found to delete.
        '422':
          description: Unprocessed Entity

  # Social Link
  /all-links:
    get:
      tags:
        - Social Link
      description: Fetch list of all social links
      responses:
        '200':
          description: Social Links successfully fetched.
        '404':
          description: Social Links list not found.

  /add-social-link:
    post:
      security:
        - bearerAuth: []
      tags:
        - Social Link
      description: Add social link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linkName:
                  type: string
                url:
                  type: string
            example:
              linkName: 'google'
              url: 'google.com'
      responses:
        '201':
          description: Social link saved successfully.
        '400':
          description: Social link already exists.
        '404':
          description: Social link save failed.
        '422':
          description: Unprocessed Entity

  /upload-link-image:
    patch:
      security:
        - bearerAuth: []
      tags:
        - Social Link
      description: Upload photo of certain social link
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                image:
                  type: string
                  format: binary
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '201':
          description: Social link photo uploaded successfully.
        '404':
          description: Social link not found.
        '422':
          description: Unprocessed Entity

  /change-link:
    put:
      security:
        - bearerAuth: []
      tags:
        - Social Link
      description: Change details of certain social Link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                linkName:
                  type: string
                url:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
              linkName: 'amazon'
              url: 'amazon.com'
      responses:
        '201':
          description: Social link details changed successfully.
        '404':
          description: Social link not found.
        '422':
          description: Unprocessed Entity

  /delete-link:
    delete:
      security:
        - bearerAuth: []
      tags:
        - Social Link
      description: Delete certain social link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '200':
          description: Social link deleted successfully.
        '404':
          description: Social link not found to delete.
        '422':
          description: Unprocessed Entity

  # Band
  /band-about:
    get:
      tags:
        - Band
      description: Fetch details about band
      responses:
        '200':
          description: Band details successfully fetched.
        '404':
          description: Band not found.

  /upload-band-image:
    patch:
      security:
        - bearerAuth: []
      tags:
        - Band
      description: Upload photo of band
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                image:
                  type: string
                  format: binary
            example:
              id: '62cd66b2bc4b70708a73125f'
      responses:
        '201':
          description: Band photo uploaded successfully.
        '404':
          description: Band not found.
        '422':
          description: Unprocessed Entity

  /change-band-about:
    put:
      security:
        - bearerAuth: []
      tags:
        - Band
      description: Change details of band
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                about:
                  type: string
            example:
              id: '62cd66b2bc4b70708a73125f'
              about: 'ბენდი დაარსდა ...'
      responses:
        '201':
          description: Band details changed successfully.
        '404':
          description: Band not found.
        '422':
          description: Unprocessed Entity
